@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    max-width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: rgb(20, 20, 20);
    color: white;
    margin: 0px;
    padding: 0px;
}
header{
    color: white;
    text-align: center;
    /*padding: 20px 20px 10px 20px;*/
    max-width: 100%;
}
.highlight{
    padding-bottom: 20px;
    text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
    font-size: 1.5em;
}
header img{
    width: 100%;
}
main{
    margin: auto;
    padding: 50px 0px 10px 0px;
    min-width: 280px;
    max-width: 400px;
}
/*section#inicio{*/
section{
    padding: 0px 0px 50px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
hr{
    width: 100%;
    margin-bottom: 45px;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.75);
}
section#inicio div{
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    max-width: 100%;
    padding: 25px 10px;
}
.ebookimg{
    width: 100%;
    max-width: 150px;
}
.textarea{
    font-size: 1.1em;
    width: 100%;
}
.buybutton{
    margin: auto;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    color: white;
    background: linear-gradient(to bottom, rgb(0, 123, 255), rgb(15, 74, 136));
    box-shadow: 0px 0px 15px rgba(49, 149, 255, 0.623);
    width: 210px;
    height: 55px;
    padding: 3px;
    border-radius: 15px;
    transition-duration: 0.4s;
}
.buybutton:hover{
    background: linear-gradient(to bottom, rgb(0, 93, 192), rgb(10, 49, 90));
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
}
section#beneficios{
    align-items: center;
}
section#beneficios ul{
    padding: 25px 0px 25px 0px;
    text-align: left;
    list-style: none;
}
section#beneficios ul li{
    padding-left: 35px;
    margin-bottom: 15px;
    position: relative;
}
section#beneficios ul li::before{
    content: "";
    position: absolute;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../images/CheckCircle.png);
    background-size: cover;
}
section#depoimentos .whitebg{
    width: 380px;
    height: 200px;
    margin-top: 25px;
    background-color: white;
    border-radius: 10px;
}
section#depoimentos .rating{
    background-color: rgb(171, 194, 241);
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
}
section#depoimentos #rating1, #rating2, #rating3{
    width: 35px;
    height: 35px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
section#depoimentos #rating1{
    background-color: blueviolet;
}
section#depoimentos #rating2{
    background-color: rgb(226, 43, 128);
}
section#depoimentos #rating3{
    background-color: darkorange;
}
section#depoimentos .emailrating{
    display: inline;
    font-weight: bold;
    color: black;
}
section#depoimentos .whitebg p.rate{
    color: black;
    font-size: 1.16em;
    text-align: left;
    padding: 20px;
}
section#depoimentos .buybutton{
    margin-top: 45px;
}
section#comprar .textarea{
    padding: 25px 0px 10px 0px;
}
section#comprar .ebookimg{
    padding: 15px 0px;
}
section#comprar s{
    color: rgb(200, 0, 0);
    font-weight: bold;
}
section#comprar #price{
    color: rgb(0, 190, 0);
    font-weight: bolder;
    font-size: 1.25em;
    padding-bottom: 15px;
}
footer{
    background-color: midnightblue;
    padding: 35px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
footer p{
    background-color: rgb(43, 43, 197);
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 1.2em;
}
footer h4{
    padding: 25px;
}
footer a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    background-color: rgb(43, 43, 197);
    border-radius: 10px;
    transition-duration: 0.4s;
}
footer a:hover{
    background-color: rgb(79, 79, 230);
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 60, 255, 0.555);
}

@media only screen and (min-width: 768px){
    header nav{
        padding: 5px;
    }
    header nav a{
        font-size: 1em;
        margin-left: 10px;
        margin-right: 10px;
        padding: 10px;
    }
    main{
        max-width: 600px;
    }
    .ebookimg{
        max-width: 185px;
    }
    .highlight{
        font-size: 1.6em;
    }
    p.textarea{
        font-size: 1.2em;
    }
    section#beneficios ul{
        font-size: 1.25em;
    }
    section#beneficios ul li:before{
        width: 25px;
        height: 25px;
    }
    section#depoimentos .whitebg{
        width: 435px;
    }
    section#comprar s{
        font-size: 1.15em;
    }
    section#comprar #price{
        font-size: 1.45em;
    }
    footer{
        display: block;
    }
}